<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>teachersjobworld</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .nav-link{
            color: white;
            margin-right: 6px;
        }
        .nav-link:hover{
            color: purple;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.055);
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm" style="background-color: #a1a1a1;" >
        <a class="navbar-brand" style="font-weight: bold; font-size: 28px; font-family: fantasy; color: white; margin-left:70px ;">Teachers <br> JOB WORLD</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}" style="margin-left: 350px;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}"> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}">Sign In</a>  
            </li>       
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-user mr-1"></i>For Job Seeker</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"> <i class="fa fa-users mr-1"></i>For Employer</a>

            </li>
            
        </ul>
    </nav>
   
</body>
</html>